!*.out
!*.err
!*.lst
!*.dat
!binary_data/
!data/
!vdata/
!rdata/
!*.lst
!*.lst.cmake
!*.out
!*.out.cmake
!*.err
!*.err.cmake
!LPT.dat
!LPT.dat.cmake
!t-m-fr.dat
!t-m-fr.dat.cmake
!phys_values.dat
!phys_values.dat.cmake
